In [1]:
import numpy as np
import math
import pandas as pd

1)Os vetores v1 e v2 são ortogonais (formam ângulo de 90 graus entre si)?

In [3]:
v1=np.array([1,0,1])
v2=np.array([-1,0,1])

0

2)Qual é a distância (euclidiana, a mais comum) entre os pontos p1 e p2?

In [5]:
p1=np.array([1,5,6,7,8,9])
p2=np.array([2,3,6,5,11,10])

4.358898943540674

3)O sistema de equações:<br/>
3x+y+z=10<br/>
x-y+z=3<br/>
2x-2y+2z=4<br/>
<br/>
tem solução?

0.0

3)No meu modelo, trabalho como uma base de vetores "antiga": x=(1,0,0),y=(0,1,0),z=(0,0,1)<br/>
Na base nova x1=(1,1,0),y1=(0,2,3) e z1=(0,0,1)<br/>
Pede-se a matriz que passa da antiga para a nova. a matriz que passa da nova para a antiga é fornecida (NA)
#Obs..se o det=0, não forma base...

In [13]:
NA=np.array([[1,0,0],[1,2,0],[0,3,1]])

(array([[ 1. ,  0. ,  0. ],
        [-0.5,  0.5,  0. ],
        [ 1.5, -1.5,  1. ]]),
 array([1, 3, 4]))

4)Os escalar e e o vetor v formam um par autovalor, autovetor para M?

In [17]:
M=np.array([[1,4,5],[2,1,6],[3,9,7]])
e=13.74399257
v=np.array([0.44411298,0.437754,0.7817513 ])

(array([ 6.10388548,  6.01648776, 10.74438404]),
 array([ 6.1038855 ,  6.01648772, 10.74438406]))

5) O determinante da matriz A pode ser facilmente obtido..qual é?

In [20]:
A=np.array([[1,0,0],[3,1,2],[4,1,3]])
A

array([[1, 0, 0],
       [3, 1, 2],
       [4, 1, 3]])

1

6)Usando semelhança de cos, quais são os vetores mais semelhantes v1 e v2 ou v1 e v3?

In [23]:
v1=np.array([1,0,1,0,2,4,2])
v2=np.array([1,0,1,0,2,4,1])
v3=np.array([1,0,1,1,2,4,2])

0.981432984131437

0.9813067629253164

7)Qual é o ângulo em graus entrev os vetores u e v?#dica : use math.acos (arco cujo cos...) e depois mude para graus

In [26]:
u=np.array([1,1])
v=np.array([-1,0.7])

100.00797980144135

8)Crie uma DataFrame "df" a partir da lista abaixo, com a colunas nome idade peso e renda mensal

In [40]:
lista=[['joão',50,75,3000],['maria',25,60,2500],['carlos',50,90,12000],['paula',22,85,15000]]

     nome  idade  peso  renda
0    joão     50    75   3000
1   maria     25    60   2500
2  carlos     50    90  12000
3   paula     22    85  15000

9)No df anterior, usando .iloc, troque o peso de carlos de 90 para 95

     nome  idade  peso  renda
0    joão     50    75   3000
1   maria     25    60   2500
2  carlos     50    95  12000
3   paula     22    85  15000

10)No df, crie a série "imposto", com 25% da renda de cada um

     nome  idade  peso  renda  imposto
0    joão     50    75   3000    750.0
1   maria     25    60   2500    625.0
2  carlos     50    95  12000   3000.0
3   paula     22    85  15000   3750.0